@use '../abstracts/colors' as *;
@use 'sass:color';

.button-to-top {
  position: fixed;
  z-index: 9999;
  display: flex;
  bottom: 1rem;
  right: 1rem;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background-color: $light-blue;
  color: $white;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: color.adjust($light-blue, $lightness: 10%);
  }
}
